<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.mall.dao.TestProdMapper">


    <update id="incrSellNum">
        UPDATE
            test_prod
        SET
            sell_num = sell_num +1
        WHERE
            prod_id = #{prodId}
    </update>

</mapper>